.card-main{
    border: 1px solid white;
    border-radius: 30px;
    margin: 20px;
    /*display: flex;*/
    /*width: 700px;*/
    /*height: 450px;*/
    background-color: white;
    justify-content: center;
}